<tr>
  <td>{{indexFn}}</td>
  <td>{{name}}</td>
  <td><img src="{{thumbURL}}" class="table-thumbnail"/></td>
  <td>$ {{price}}</td>
  <td>{{quantity}}</td>
  <td>$ {{totalValue}}</td>
  <td><button type="button" class="btn btn-danger update-item" data-id="{{id}}">Update</button></td>
</tr>
