<img src="{{imgURL}}" alt="{{title}}">
<div class="carousel-caption">
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    <p>${{price}}</p>
    <input class="addbtn btn-primary btn" type="button" value="Add to cart">
</div>
