<a class="img-book" title="{{title}}"><img src="{{thumbURL}}" alt="{{title}}"></a>
<div class="description-book">
    <ul>
        <li class="name"><h3>{{name}}</h3></li>
        <li class="price"><p>${{price}}</p></li>
        <li class="cart"><input class="btn addbtn" type="button" value="Add to cart"></li>
    </ul>
</div>
